
@{
    ViewData["Title"] = "GetByAuthor";
}

<h1>Your dad jokes</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">Answer</th>
      <th scope="col">Author</th>
      <th scope = "col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var joke in ViewBag.Jokes)
        {
            <tr>
                <td>@joke.Id</td>
                <td>@joke.Question</td>
                <td>@joke.Answer</td>
                <td>@joke.Author</td>
                <td>
                    <a class = "btn btn-success" asp-route-id = "@joke.Id" asp-action = "Update" asp-controller = "Joke">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

